body{
    background:rgba(128, 128, 128, 0.44);
    margin: 0;
}

.tiles{
    margin: 48px auto;
    width: max-content;
    display: grid;
    grid-template-columns:  repeat(4, 100px);
    gap: 16px;
}

.tile{
    height: 100px;
    background: rgba(128, 128, 128, 0.02);
    border: 5px solid #4444;
    text-align: center;
    font-size: 50px;
}